---
layout: layouts/page.njk
permalink: /blog/
title: News
eleventyNavigation:
  key: News
  order: 4
eleventyImport:
  collections: ["posts"]
---

<h1>News and results</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
